body,html {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 6px solid rgb(228, 13, 13);
    display: flex;
    align-items: center;
}

.clock-1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hand {
    width: 75px;
    height: 3px;
    background-color: black;
    position: absolute;
    transform-origin: 100%;
    transition: all 0.01s;
}

.hour {
    width: 55px;
}

.min {
    width: 70px;
}

.sec {
    height: 1.5px;
    background-color:rgb(22, 148, 187);
}
